name: PR
on:
  pull_request:
    types: [opened, reopened, edited, labeled, unlabeled, synchronize]

concurrency:
  group: pr-pre-commit-check-${{ github.ref }}
  cancel-in-progress: true

permissions:
  statuses: write
  contents: read
  checks: write
  pull-requests: read

jobs:
  pre_commmit:
    name: Pre-commit
    uses: dnlopes/Reusable.Workflows/.github/workflows/pre-commit-hooks.yaml@5dc3777ed635aa1ced95ac8ad319b4a95ecb7595 # v1.13.78
    secrets: inherit
