name: Release
on:
  push:
    branches:
      - main

concurrency:
  group: release
  cancel-in-progress: false

permissions:
  pull-requests: read
  contents: write
  id-token: write
  statuses: write

jobs:
  release_drafter:
    name: Create
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # - name: Publish Release
      #   env:
      #     GH_TOKEN: ${{ github.token }}
      #     GH_REPO: ${{ github.repository }}
      #   run: gh release edit "${{ steps.draft_release.outputs.tag_name }}" --draft=false --latest
